<!DOCTYPE html>
@!component('templates/head')
<body>
    @!component('templates/header')
    <main class="flex h-screen justify-center items-center -my-32">
    @!component('templates/login-form')
    </main>
</body>
</html>
